<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'js/my_scripts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">

    <title>d2forum</title>
</head>

<body>
    <p><a href="{% url 'forum:posts_list' %}">Forum</a></p>

    {% block content %}
    {% endblock content %}

</body>

</html>