{% extends 'base.html' %}

{% block content %}
<div id="post">
  <p>TITLE: {{ post.title }}</p>
  <p>TEXT: {{ post.text }}</p>
  <form id="post_form" action="{% url 'forum:delete_post' post.pk post.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="delete" value="delete">Delete</button>
  </form>
  <form id="post_reply" action="{% url 'forum:reply' post.pk post.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="reply" value="reply">Reply</button>
  </form>
</div>
{% with replies=post.post_set.all %}
{% for reply in replies %}
{% include 'partials/partial_post.html' %}
{% endfor %}
{% endwith %}
{% endblock content %}