{% extends 'base.html' %}

{% block content %}
<p>TITLE: {{ post.title }}</p>
<p>TEXT: {{ post.text }}</p>
<form id="post_form" action="{% url 'forum:delete_post' post.pk post.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="delete" value="delete">Delete</button>
</form>
<form id="post_reply" action="{% url 'forum:reply' post.pk post.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="reply" value="reply">Reply</button>
</form>
<p id="reply"></p>
{% for reply in post.post_set.all %}
{% include 'partials/partial_post.html' %}
{% endfor %}
{% endblock content %}