<div id="post">
  <form id="post_form" action="{% url 'forum:delete_post' reply.pk reply.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="delete" value="delete">Delete</button>
  </form>
  <p>TITLE: {{ reply.title }}</p>
  <p>TITLE: {{ reply.text }}</p>
  <form action="{% url 'forum:reply' reply.pk reply.slug %}" method="GET">
    {% csrf_token %}
    <button name="reply" value="reply">Reply</button>
  </form>
  <div id="my_reply"></div>
</div>
{% with replies=reply.post_set.all %}
{% for reply in replies %}
{% include 'partials/partial_post.html' %}
{% endfor %}
{% endwith %}