.post {
    padding: 5px;
    border: 1px solid rgb(29, 27, 173);
    margin: 10px;
}

.reply {
    padding: 10px;
    border-top: 1px solid rgb(29, 27, 173);
    margin-top: 10px;
    margin-left: 20px;
}

form {
    margin: 2px;
}